@import '@/common/constants.scss';

.loading {
  color: $disabled-color;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 10px;
  overflow-x: hidden;
}

.tip {
  color: $disabled-color;
  padding-top: 120Px;
  text-align: center;
  margin-bottom: 5px;
}

.tip2 {
  color: $disabled-color;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.at-divider__content {
  background-color: $background-color;
}

.user-detail {
  &__ban {
    position: absolute;
    top: 60px;
    right: 70px;
    font-size: 28px;
    color: $disabled-color;
  }
}
