@import '@/common/constants.scss';

.me {
  .loading {
    color: $disabled-color;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 10px;
    overflow-x: hidden;
  }

  .tip {
    color: $disabled-color;
    padding-top: 120px;
    text-align: center;
    margin-bottom: 5px;
  }
}
